.ant-list-split {
    background-color: #fff;
    .ant-list-header {
        font-size: medium;
        color: #000;
        padding-left: 10px;
        &:after {
            display: block;
            content: '';
            height: 2px;
            width: 60px;
            bottom: 0;
            left: 15px;
            background-color: #0c5416;
        }
    }
    .ant-spin-nested-loading {
        text-align: center;
        .ant-spin-container {
            .ant-card {
                margin-bottom: 10px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .ant-list-item {
                margin: 16px 0;
            }
        }
    }
    .load-more-btn {
        text-align: center;
        line-height: 32px;
        >* {
            margin-bottom: 10px;
            font-weight: bold;
            font-size: large;
            border: 1px solid #0c5416;
            color: #0c5416;
        }
    }
}